style.css
img{
  width: 100px
}
h1 {
  color: red;
}

div {
  font-family: sans-serif;
  text-align: center;
}

.header {
  background: #b7b7b7;
  padding: 20px;
  margin: 0 0 20px 0;
}

.header p, h3 {
  margin: 0;
  text-align: left
}

.header img {
  width: 30px;
  float: left;
  position: relative;
  top: -5px;
  margin: 0 15px 0 0;
}

button {
  margin: 0 10px 0 10px;
}

.colorBox {
  height: 50px;
  width: 50px;
  background: steelblue;
  margin: 50px auto;
  border-radius: 25px;
}

